{% extends 'laboratorios/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <br><br>
        <form method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.label_tag }}
                <div class="input-field">
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn">Start Project</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>

{% endblock %}